body{
    font-family: 'Sanchez', serif;
    background-color: #323537;
    color: #ffffff;
}
#jumbo{
    background-image: url('../img/tech_background.jpg');
    background-size: cover;
    color: #ffffff;
}

.footlink{
    color:#ffffff;
}
.card{
    margin-bottom: 5px;
}
.card-header{
    font-size: large;
    background-color: #323537;
}
.card-body{
    background-color: #45494c;
}
.blockquote{
    font-size: medium;
}

.link-icon{
    color: aliceblue;
    text-decoration: none;
}
.link-icon:hover{
    color: black;
}